@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: Roboto, sans-serif;
    background-color: rgb(14, 14, 24);
    color: lightgrey;

}



.galeria {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    padding: 20px;

    gap: 33px;

    justify-content: center;


}


.carta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 100%;
    min-height: 100%;
    max-width: 303px;

    background-color: rgb(36, 0, 66);
    border-radius: 25px;

    padding: 10px;
    padding-bottom: 30px;

    gap: 10px;

    text-align: center;

    box-shadow: 1px 1px 20px rgba(172, 167, 180, 0.116);

    transition: ease-in-out 0.3s;

}


.carta>img {
    height: 271px;
    width: 150px;

    border-radius: 15px;

    margin-top: 20px;
    margin-bottom: 17px;


}


.carta:hover {

    background-color: rgb(227, 206, 243);
    color: black;
    box-shadow: 1px 1px 50px rgba(123, 54, 233, 0.884);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}


.carta:hover>img {

    box-shadow: 16px 13px 20px rgb(24, 1, 66);

    transition: ease-in-out 0.3s;


}

.info-carta {
    line-height: 1.4;
}



.carta.enforcado:hover {
    background-color: rgb(136, 136, 136);
    color: black;
    box-shadow: 1px 1px 50px rgb(61, 61, 61);

    /* transform: rotate(180deg); */
    transition: ease-in-out 0.8s;
    transform: rotate3d(1, 0, 0, 200deg);


}


.carta.enforcado:hover>img {

    box-shadow: -16px -13px 20px black;

}

.carta.enforcado:hover p,
.carta.enforcado:hover h2 {
    transform: rotate3d(0, 1, 0, 180deg);
    transition: 0.3s step-start;
}




.carta.diabo:hover {
    background-color: black;
    color: rgb(114, 12, 12);
    box-shadow: 1px 1px 50px rgba(255, 0, 0, 0.884);


}

.carta.diabo:hover>img {

    box-shadow: 16px 13px 20px rgb(63, 1, 1);

    transition: ease-in-out 0.3s;


}



.carta.torre:hover {
    background-color: rgb(99, 99, 99);
    color: black;
    box-shadow: 1px 1px 50px rgb(82, 53, 20);

    transform: rotate(13deg);
    transition: ease-in-out 0.7s;



}


.carta.torre:hover>img {

    box-shadow: 16px 13px 20px black;

    transition: ease-in-out 0.3s;
}



.carta.morte:hover {
    background-color: black;
    color: rgb(175, 172, 172);
    box-shadow: 1px 1px 30px rgb(255, 255, 255);


}


.carta.morte:hover>img {

    box-shadow: 16px 13px 20px rgba(255, 255, 255, 0.281);

    transition: ease-in-out 0.3s;


}



.carta.temperanca:hover{
    background: linear-gradient(to right, #ee7c77, #77E9EE);
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.651);
}


.carta.estrela:hover {
    background-color: rgb(64, 93, 189);
    color: white;
    box-shadow: 1px 1px 50px rgb(255, 251, 0);


}


.carta.estrela:hover>img {

    box-shadow: 16px 13px 20px rgba(0, 0, 0, 0.76);

    transition: ease-in-out 0.3s;


}


.carta.lua:hover {
    background-color: rgb(15, 26, 63);
    color: rgb(185, 184, 184);
    box-shadow: 1px 1px 50px rgb(61, 54, 99);

    animation: ilusao 5s ease;
}

@keyframes ilusao {

    0% {
        filter: blur(0px);
    }

    25% {
        filter: blur(2px);
    }

    50% {
        filter: blur(8px);
        opacity: 0.6;
    }

    75% {
        filter: blur(20px);
        opacity: 0.3;
    }

    80% {
        filter: blur(15px);
    }


    85% {
        filter: blur(12px);
    }

    90% {
        filter: blur(6px);
    }

    91% {
        filter: blur(2px);
    }

    92% {
        filter: blur(0px);
    }

    93% {
        filter: blur(0px);
    }

    94% {
        filter: blur(0px);
    }

    95% {
        filter: blur(0px);
    }


    100% {
        filter: blur(0px);
    }
}




.carta.lua:hover>img {

    box-shadow: 16px 13px 20px black;

    transition: ease-in-out 0.3s;


}





.carta.sol:hover {
    background-color: rgb(255, 187, 0);
    color: black;
    box-shadow: 1px 1px 50px rgb(231, 112, 0);
    transition: 1s;

}


.carta.sol:hover img {

    box-shadow: 16px 13px 20px black;

    transition: ease-in-out 0.3s;


}


body:has(.carta.sol:hover) {
    background-color: white;
    transition: 5s;
}






.carta.mundo:hover {
    background-color: rgb(155, 247, 201);
    color: black;
    box-shadow: 1px 1px 50px rgb(176, 243, 234);


}


.carta.mundo:hover>img {

    box-shadow: 16px 13px 20px black;

    transition: ease-in-out 0.3s;


}


.carta.eremita img {
    transition: 3s;
}



.carta.eremita:hover img {
    transition: 4s;
    opacity: 0;
}




.carta.roda:hover img {
    transform: rotate(20turn);
    transition: ease-in-out 10s;
}





.carta.carro:hover img {
    animation: arrancada 3s infinite;
}

@keyframes arrancada {

    0% {
        transform: translateZ(0px) scale(1);
    }

    25% {
        transform: translateZ(15px) scale(1.15);
    }

    50% {
        transform: translateZ(0px) scale(1.1);
    }

    75% {
        transform: translateZ(15px) scale(1.15);
    }

    100% {
        transform: translateZ(0px) scale(1);
    }

}